{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/cart.css' %}">
<div id="app">

    <!-- Header -->
    <header class="cart-container">
      <h1>Shopping Cart</h1>
      
      <span class="count">{{ items|length }} items in the bag</span>
    </header>
    <!-- End Header -->
    <!-- Product List -->
    <!-- <section class="cart-container">
      <div v-if="products.length > 0">
        <ul class="products">
        <li class="row" v-for="(product, index) in products">
          <div class="col left">
            <div class="thumbnail">
              <a href="#">
                <img :src="product.image" :alt="product.name" />
              </a>
            </div>
            <div class="detail">
              <div class="name"><a href="#">{{ product.name }}</a></div>
              <div class="description">{{ product.description }}</div>
              <div class="price">{{ product.price }}</div>
            </div>
          </div>
  
          <div class="col right">
            <div class="quantity">
              <input type="number" class="quantity" step="1" :value="product.quantity" @input="updateQuantity(index, $event)" @blur="checkQuantity(index, $event)" />
            </div>
            
            <div class="remove">
              <svg @click="removeItem(index)" version="1.1" class="close" xmlns="//www.w3.org/2000/svg" xmlns:xlink="//www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 60 60" enable-background="new 0 0 60 60" xml:space="preserve"><polygon points="38.936,23.561 36.814,21.439 30.562,27.691 24.311,21.439 22.189,23.561 28.441,29.812 22.189,36.064 24.311,38.186 30.562,31.934 36.814,38.186 38.936,36.064 32.684,29.812"></polygon></svg>
            </div>
          </div>
        </li>
      </ul>
      </div>
      <div v-else class="empty-product">
        <h3>There are no products in your cart.</h3>
        <button>Shopping now</button>
      </div>
    </section>
    <section class="cart-container" v-if="products.length > 0">
      <div class="promotion">
      </div>
  
      <div class="summary">
        <ul>
          <li>Subtotal <span>{{ subTotal }}</span></li>
          <li v-if="discount > 0">Discount <span>{{ discountPrice }}</span></li>
          <li>Tax <span>{{ tax }}</span></li>
          <li class="total">Total <span>{{ totalPrice }}</span></li>
        </ul>
      </div>
  
      <div class="checkout">
        <button type="button">Check Out</button>
      </div>
    </section> -->
    <table class="items">
      <thead>
        <tr>
          <th>Product</th>
          <th>Unit Price</th>
          <th>Quantity</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <div class="item">
              <div class="item-front">
                <img src="http://damonbauer.me/cart/chemex2.jpg" />
              </div>
              <div class="item-back">
                <img src="http://damonbauer.me/cart/chemex.jpg" />
              </div>
            </div>
            <p>
                <span class="itemname">ALOE VERA<br /></span>
              <span class="itemNum">1A00052150</span>
            </p>
            <p class="description">The aloe vera plant is an easy, attractive succulent that makes for a great indoor companion</p>
          </td>
          <td>₹180.00</td>
          <td>
            <input type="number" class="quantity" value="1" min="1" />
            <a href="#" class="remove">Remove</a>
          </td>
          <td class="itemTotal">₹180.00</td>
        </tr>
        <tr>
          <td>
            <div class="item">
              <div class="item-front">
                <img src="http://damonbauer.me/cart/skerton2.jpg" />
              </div>
              <div class="item-back">
                <img src="http://damonbauer.me/cart/skerton.jpg" />
              </div>
            </div>
            <p>
                <span class="itemname">COLEUS<br /></span>
              <span class="itemNum">12B5421000</span>
            </p>
            <p class="description">Coleus is a genus of annual or perennial herbs or shrubs, sometimes succulent, sometimes with a fleshy or tuberous rootstock.</p>
          </td>
          <td>₹245.00</td>
          <td>
            <input type="number" class="quantity" value="1" min="1" />
            <a href="#" class="remove">Remove</a>
          </td>
          <td class="itemTotal">₹245.00</td>
        </tr>
        <tr>
          <td>
            <div class="item">
              <div class="item-front">
                <img src="http://damonbauer.me/cart/kettle2.jpg" />
              </div>
              <div class="item-back">
                <img src="http://damonbauer.me/cart/kettle.jpg" />
              </div>
            </div>
            <p>
              <span class="itemname">ARABIAN JASMINE<br /></span>
              <span class="itemNum">2X45120013</span>
            </p>
            <p class="description">
                Jasminum sambac is a small shrub or vine growing up to 0.5 to 3 m (1.6 to 9.8 ft) in height. It is widely cultivated for its attractive and sweetly fragrant flowers. 
            </p>
          </td>
          <td>₹345.00</td>
          <td>
            <input type="number" class="quantity" value="1" min="1" />
            <a href="#" class="remove">Remove</a>
          </td>
          <td class="itemTotal">₹345.00</td>
        </tr>
        <tr>
          <td>
            <div class="item">
              <div class="item-front">
                <img src="http://damonbauer.me/cart/zing2.jpg" />
              </div>
              <div class="item-back">
                <img src="http://damonbauer.me/cart/zing.jpg" />
              </div>
            </div>
            <p>
                <span class="itemname">HOLY BASIL<br /></span>
              <span class="itemNum">12PDF12005</span>
            </p>
            <p class="description">Tulsi is cultivated for religious and traditional medicine purposes, and also for its essential oil. It is widely used as a herbal tea.</p>
          </td>
          <td>₹120.00</td>
          <td>
            <input type="number" class="quantity" value="1" min="1" />
            <a href="#" class="remove">Remove</a>
          </td>
          <td class="itemTotal">₹120.00</td>
        </tr>
      </tbody>
    </table>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script src="{% static 'js/cart.js' %}"></script>

{% endblock %}