
.heading{
    font-family: Georgia, sans-serif;
    font-size: 5em;
    letter-spacing: -2px;
    text-align: center;

}
.article-text{
    text-align: left !important;
    padding-left: 4%;
    padding-right: 4%;
}

.article-image{
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}